@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

ul {
  display: none;
  cursor: pointer;
  &.tree {
    display: block;
  }
  li {
    &.active {
     > ul {
        display: block;
      }
    } 
  }
}
